
/* Fonts */
/* ----------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700&display=swap');

/* Poppins Regular 400 */
.font-p {
    font-family: "Poppins";
    font-weight: 400;
}

/* Resetting styles  */
/* --------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
outline: none;
}
nav,
footer,
header,
aside {
display: block;
}
html,
body {
height: 100%;
width: 100%;
font-size: 100%;
line-height: 24px;
font-size: 16px;
font-family: "Roboto";
font-weight: 400;
color: #FFFFFF;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
font-family: inherit;
font-size: 16px;
}
input::-ms-clear {
display: none;
}
button {
cursor: pointer;
}
button::-moz-focus-inner {
padding: 0;
border: 0;
}
a {color: #FFFFFF;}
a,
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
ul li {
list-style: none;

}
img {
vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 400;
}

/* Style */
/* ----------------------------------- */

/* Header Section */
/* ------------------ */
.header {
    padding: 15px;
    background: #000000 !important;
}

.header-ul{
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.df {
    display: flex;
}

.aic{
    align-items: center;
}

.jc-sb{
    justify-content: space-between;
}

.logo-wrap {
    height: 25px;
}

.logo-wrap img {
    height: 100%;
}

.head-link:hover{
    transition: 0.3s;
    color: #FCD58A;
}

.mini-btn{
    padding: 7px 45px;
    background-color: transparent;
    color: #FCD58A;
    border: 1px solid #FCD58A;
}

.mini-btn:hover {
    transition: 0.3s;
    background-color: #FCD58A;
    color: #000000;
}

/* Main Section */
/* ------------------ */

.main {
    padding: 50px 0 15px 0;

}

.bg-img{
    background: url(../img/01-Header/main-background.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title{
    font-size: calc(30px + 5 * ((100vw - 320px) / (1280 - 320)));
    line-height: 45px;
    font-family: "Poppins";
    font-weight: 400; 
    text-transform: uppercase;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-15{
    margin-bottom: 15px;
}

.mb-55{
    margin-bottom: 55px;
}

.subtitle{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 700;
}

.btn{
    padding: 14px 42px;
    background-color: transparent;
    color: #FCD58A;
    border: 1px solid #FCD58A;
    border-radius: 0;
}

.btn:hover {
    transition: 0.3s;
    background-color: #FCD58A;
    color: #000000;
    border: 1px solid #FCD58A;
}

.btn-black{
    color: #000000;
    border: 1px solid #000000;
}

.wrap-main-img{
    min-height: 200px;
    overflow: hidden;
}

.wrap-main-img img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}

.main-img{
    max-width: 100%;
    object-fit: none;
}


/* About Section */
/* ------------------ */

.p-15{
    padding: 15px 0;
}

.black{
    color: #000000;
}

.grey{
    color: #8b8b8b;
}

.grid-container-columns-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  
.world-wrap-img{
    min-height: 200px;
    overflow: hidden;
}

.world-wrap-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.world-img{
    max-width: 100%;
    object-fit: none;
}

.ml-10{
    margin-left: 10%;
}

.mb-80{
    margin-bottom: 80px;
}


/* what-do Section */
/* ------------------ */

.bg-black{
    background: #000000;
}

.circle{
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position:relative;
}

.circle:after {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border-radius: 50%;
    border: #ffffff 1px solid;
  }

.mb-35{
    margin-bottom: 35px;
}

.fd-c{
    flex-direction: column;
}

.fs-16{
    font-size: 16px;
}

.fs-14{
    font-size: 14px;
}

.flex-c{
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.tac{
    text-align: center;
}

.px-10{
    padding: 0 10px;
}

.fww{
    flex-wrap: wrap;
}

.py-100{
    padding: 100px 0;
}

.also-img-wrap{
    overflow: hidden;
}

.also-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.also-img{
    max-width: 100%;
    object-fit: none;
}

.portfolio-grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 0rem;
    margin: 0;
    min-height: 300px;
}

.portfolio-grid-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 0rem;
    margin: 0;
    min-height: 300px;
}

.portfolio-img-wrap{
    min-height: 300px;
    max-height: 350px;
    overflow: hidden;
    transition: all 0.8s ease;
}

.portfolio-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-img{
    max-width: 100%;
    object-fit: none;
}

.jc-sa{
    justify-content: space-around;
}

.feedback{
    background: url(../img/07-Feedback/bg-feedback.png) center no-repeat;
    background-size: cover;
}

.feedback-block{
    padding: 45px 35px;
    background: #ffffff;
}

.footer-icon{
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position:relative;
}

.mb-25{
    margin-bottom: 25px;
}

.mb-10{
    margin-bottom: 10px;
}

.mr-10{
    margin-right: 10px;
}

.footer-icon:hover{
    transition: 0.3s;
    background: #FCD58A;
}

.logo-wrap-footer {
    height: 50px;
}

.logo-wrap-footer img {
    height: 100%;
}

.download-link:hover{
    transition: 0.3s;
    color: #FCD58A;
}

.owl-theme .owl-dots .owl-dot span{
    background: #ffffff !important;
    box-shadow: 00px 0px 15px rgb(0, 0, 0);
    height: 15px;
    width: 15px;
}

.owl-theme .owl-dots .owl-dot span:hover{
    transition: 0.3s;
    background: #FCD58A !important;
}

.z-10{
    z-index: 10;
}

.fw-w{
    flex-wrap: wrap;
}

.py-15{
    padding: 15px 0;
}


.p-xy-10-15{
    padding: 10px 15px;
}

.owl-carousel .owl-item img{
    width: auto;
}

.m-0{
    margin: 0;
}

.ai-c{
    display: flex; 
    align-items: center; 
}

.jc-c{
    justify-content: center;
}

.mt-10{
    margin-top: 10px;
}

.w-1_4{
    max-width: calc(100% / 4);
}

.ai-s{
    align-items: start;
}

.h-200{
    min-height: 200px;
}


/* hiding checkboxes and content blocks */
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* making out the text label */
.hide + label {
    padding: 0;
    color: #C2C2C2;
    cursor: pointer;
    display: inline-block; 
}
/* view of the label text when the radio button is active */
.hide:checked + label {
    color: #C2C2C2;
    border-bottom: 0;
}
/* when the checkbox is active we show the blocks with the content  */
.hide:checked + label + div {
    display: block; 
    background: none;
    padding: 10px; 
}

/* demo container */
.demo {
    margin: 5% 10%;
}



/* For mobile */
/* ---------------------------------------------------------------- */

@media (max-width: 992px) {
    .wrap-main-img{
        display: none;
    }

    .w-1_4{
        max-width: calc(100% / 1);
    }

    .or-md-2{
        order: 2;
    }

    .grid-portfolio{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        grid-gap: 0rem;
    }

    .portfolio-img-wrap {
        max-height: 100%;
    }

    .header-menu{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .jc-c-md{
        justify-content: center;
    }

    .p5-md{
        padding: 5px 0;
    }

    button:focus {
        outline: none;
    }
} 

@media (max-width: 650px){
    .mb-sm-20{
        margin-bottom: 20px;
    }

    .col-mb-30{
        margin-bottom: 30px;
    }
}

